<head>
        <link rel="stylesheet" href="/css/productdetail.css">
</head>

<div class="productDetail">
    <h1>{{product.title}}</h1>
    <p>{{product.description}}</p>
    <p>Price: ${{product.price}}</p>
    <p>Category: {{product.category}}</p>
    <img src={{product.thumbnail}} alt="">

  <div class="returnBtn">
    <a href="/products">
      <button>Return</button>
    </a>
  </div>
</div>
